body{
    margin: 0;
    padding: 0;
}
.nav{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    color: white;
    flex-direction: row;
    justify-content: space-around;
}
.nav .a1{
    border-radius: 0.8rem;
    padding: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #FF764E;
}
.nav .a2{
    border-radius: 0.8rem;
    padding: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #5ED3EB;
}
.nav .a3{
    border-radius: 0.8rem;
    padding: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #FFCD69
}
.mainmiddle{
    display: flex;
    /* justify-content: center; */
    text-align: center;
}
.imgmiddle img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 5rem;
}
.h1vep{
    margin-left: 20vw;
    margin-top: 5rem;
    text-align: center;
}
.brown{
    margin-top: 1rem;
    background-color: #DDB9A3;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.brown p{
    color: white;
}
.hotair{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.hotair img{
    width: 5rem;
    height: 5rem;
}
.hotairyazi{
    text-align: center;
    padding-right: 30rem;
    padding-left: 30rem;
}

.footerimg{
    margin: 0;
    padding: 0;
}
.footerimg img{
    width: 100%;
    height: 12rem;
}


